# Spark Tutorial - Wiederholung vom 12.12.22

In [10]:
# Wir wollen DataFrames nutzen und dafür brauchen wir eine SparkSession
# Import SparkSession
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

# Create SparkSession
spark = SparkSession.builder\
    .master("local[1]")\
    .appName("Datenbanken mit Spark")\
    .getOrCreate() # getOrCreate liefert existierende Session, wenn es schon eine gibt

In [2]:
spark

In [4]:
# File einlesen
frank = spark.read.text("../frankenstein.txt")

In [5]:
# Dataframe mit einer Spalte
frank

DataFrame[value: string]

In [6]:
# Explizites Anzeigen des Schemas
frank.printSchema()

root
 |-- value: string (nullable = true)

In [7]:
frank.show()

+--------------------+
|               value|
+--------------------+
|                    |
|Project Gutenberg...|
|                    |
|This eBook is for...|
|almost no restric...|
|re-use it under t...|
|with this eBook o...|
|                    |
|                    |
| Title: Frankenstein|
|       or The Mod...|
|                    |
|Author: Mary Woll...|
|                    |
|Release Date: Jun...|
|Last updated: Jan...|
|                    |
|   Language: English|
|                    |
|Character set enc...|
+--------------------+
only showing top 20 rows

In [8]:
frank.count()

7834

In [12]:
words = frank.select(F.explode(F.split(frank.value, "[^a-z,A-Z]")).alias("words"))
words.show(10)

+--------------+
|         words|
+--------------+
|              |
|       Project|
|     Gutenberg|
|             s|
| Frankenstein,|
|            by|
|          Mary|
|Wollstonecraft|
|              |
|        Godwin|
+--------------+
only showing top 10 rows

In [14]:
words_lower = words.select(F.lower(F.col("words")).alias("words_lower"))
words_lower.show()

+--------------+
|   words_lower|
+--------------+
|              |
|       project|
|     gutenberg|
|             s|
| frankenstein,|
|            by|
|          mary|
|wollstonecraft|
|              |
|        godwin|
|              |
|       shelley|
|              |
|          this|
|         ebook|
|            is|
|           for|
|           the|
|           use|
|            of|
+--------------+
only showing top 20 rows

In [16]:
words_clean = words_lower.select(F.regexp_extract("words_lower", "[a-zA-z]{3,}|a|i", 0).alias("words_clean"))
words_clean.show()

+--------------+
|   words_clean|
+--------------+
|              |
|       project|
|     gutenberg|
|              |
|  frankenstein|
|              |
|          mary|
|wollstonecraft|
|              |
|        godwin|
|              |
|       shelley|
|              |
|          this|
|         ebook|
|             i|
|           for|
|           the|
|           use|
|              |
+--------------+
only showing top 20 rows

In [17]:
words_nonempty = words_clean.filter(words_clean.words_clean != "").withColumnRenamed("words_clean", "words_nonempty")
words_nonempty.show()

+--------------+
|words_nonempty|
+--------------+
|       project|
|     gutenberg|
|  frankenstein|
|          mary|
|wollstonecraft|
|        godwin|
|       shelley|
|          this|
|         ebook|
|             i|
|           for|
|           the|
|           use|
|        anyone|
|      anywhere|
|             a|
|          cost|
|           and|
|          with|
|        almost|
+--------------+
only showing top 20 rows

In [18]:
filter_words = ["is", "not", "if", "the"]
words_filtered = words_nonempty.filter(~words_nonempty.words_nonempty.isin(filter_words))
words_filtered.show()

+--------------+
|words_nonempty|
+--------------+
|       project|
|     gutenberg|
|  frankenstein|
|          mary|
|wollstonecraft|
|        godwin|
|       shelley|
|          this|
|         ebook|
|             i|
|           for|
|           use|
|        anyone|
|      anywhere|
|             a|
|          cost|
|           and|
|          with|
|        almost|
|  restrictions|
+--------------+
only showing top 20 rows

In [26]:
words_filtered.groupBy("words_nonempty").count().sort("count", ascending=False).show()
words_filtered.agg(F.countDistinct("words_nonempty")).show()
# words_nonempty.coalesce(1).write.csv("hallu2.csv")

+--------------+-----+
|words_nonempty|count|
+--------------+-----+
|             i| 5146|
|           and| 3046|
|             a| 2676|
|          that| 1033|
|           was| 1022|
|          with|  714|
|           but|  692|
|           had|  686|
|           you|  644|
|         which|  565|
|           his|  535|
|           for|  524|
|          this|  449|
|          from|  400|
|           her|  373|
|          have|  370|
|          when|  329|
|          were|  308|
|          your|  261|
|           she|  255|
+--------------+-----+
only showing top 20 rows

+---------------------+
|count(words_nonempty)|
+---------------------+
|                 7208|
+---------------------+

## Die große Frage: In welcher Reihenfolge filtern? - Wie crazy muss die Regex sein?
Antwort: Lesbarkeit geht vor!</br>Spark evaluiert lazy und kann "hintendran" sehr viel optimieren.</br>Es gibt keine Reihenfolge, da man es so durchführen sollte, wie man es selbst am Besten versteht.

## Aufgabe 1
Das Wort "is" soll aus dem gesamten Text entfernt werden und Wörter der mindestlänge von 3 sollen ausgegeben werden

In [94]:
words_short = words_nonempty.where(col("words_nonempty") != "is")
words_short.show(20)

+--------------+
|words_nonempty|
+--------------+
|       project|
|     gutenberg|
|  frankenstein|
|            by|
|          mary|
|wollstonecraft|
|        godwin|
|       shelley|
|          this|
|         ebook|
|           for|
|           the|
|           use|
|            of|
|        anyone|
|      anywhere|
|            at|
|            no|
|          cost|
|           and|
+--------------+
only showing top 20 rows

In [92]:
from pyspark.sql.functions import length
min3Zeichen = words_nonempty.where(length(col("words_nonempty"))>3)
min3Zeichen.show(20)

+--------------+
|words_nonempty|
+--------------+
|       project|
|     gutenberg|
|  frankenstein|
|          mary|
|wollstonecraft|
|        godwin|
|       shelley|
|          this|
|         ebook|
|        anyone|
|      anywhere|
|          cost|
|          with|
|        almost|
|  restrictions|
|    whatsoever|
|          copy|
|          give|
|          away|
|         under|
+--------------+
only showing top 20 rows

## Aufgabe 2
Finde programmatisch heraus, wie viele Spalten **keine** Strings sind.

In [97]:
datenA2 = spark.createDataFrame([["test", "noch ein test", 10_000_000_000]],["1","2","3"])
datenA2.printSchema()

root
 |-- 1: string (nullable = true)
 |-- 2: string (nullable = true)
 |-- 3: long (nullable = true)

In [98]:
cnt = 0
for x, y in datenA2.dtypes:
    if y != "string":
        cnt += 1
print(f"cnt = {cnt}")

cnt = 1

## Aufgabe 3
Mache den Code lesbarer!

In [99]:
# Ausgangscode
datenA3 = spark.read.text("../frankenstein.txt").select(length(col("value"))).withColumnRenamed("length(value)", "numChar")

In [101]:
# Austauschen von withColumnRenamed mit alias()
datenA3 = spark.read.text("../frankenstein.txt").select(length(col("value"))).alias("numChar")

## Aufgabe 4
Im folgenden Code gibt es ein Problem. Was ist es und wie kann man es reparieren?

In [111]:
datenA4 = spark.createDataFrame([["key", 20_000_000, 10_000_000_000]], ["key", "value1", "value2"])
datenA4.printSchema()

root
 |-- key: string (nullable = true)
 |-- value1: long (nullable = true)
 |-- value2: long (nullable = true)

In [113]:
from pyspark.sql.functions import greatest

datenA4M = datenA4.select(greatest(col("value1"), col("value2")).alias("maxVal")).select("key", "maxVal")
datenA4M.show()

AnalysisException: Column 'key' does not exist. Did you mean one of the following? [maxVal];
'Project ['key, maxVal#489L]
+- Project [greatest(value1#470L, value2#471L) AS maxVal#489L]
   +- LogicalRDD [key#469, value1#470L, value2#471L], false

In [112]:
from pyspark.sql.functions import greatest

datenA4M = datenA4.select(col("key"),greatest(col("value1"), col("value2")).alias("maxVal")).select("key", "maxVal")
datenA4M.show()

# Das Problem bestand darin, dass ein select auf den "key" getätigt wurde, allerdings diese Spalte noch nicht existierte

+---+-----------+
|key|     maxVal|
+---+-----------+
|key|10000000000|
+---+-----------+

## Aufgabe 5
Filtere mit Hilfe der Funktion *isin* die Wörter *is*, *not*, *if* und *the* aus dem Text

In [123]:
filter_words = ["is", "not", "if", "the"]
words_nonempty.filter(~words_nonempty.words_nonempty.isin(filter_words)).show()
#words_nonempty.filter(words_nonempty.words_nonempty.isin(filter_words)).show() = Gibt alle filter_words aus

+--------------+
|words_nonempty|
+--------------+
|       project|
|     gutenberg|
|  frankenstein|
|            by|
|          mary|
|wollstonecraft|
|        godwin|
|       shelley|
|          this|
|         ebook|
|           for|
|           use|
|            of|
|        anyone|
|      anywhere|
|            at|
|            no|
|          cost|
|           and|
|          with|
+--------------+
only showing top 20 rows

In [127]:
df_filter_words = spark.createDataFrame([["is"], ["not"], ["if"], ["the"]],["filter word"])
df_filter_words.show()

#df2_filter_words = spark.createDataFrame([["is", "not", "if", "the"]],["filter word"])
#df2_filter_words.show()

+-----------+
|filter word|
+-----------+
|         is|
|        not|
|         if|
|        the|
+-----------+

## Aufgabe 6
Finde den / die Fehler im folgenden Code und repariere ihn so, dass der Code so wie erwartet funktioniert

In [133]:
from pyspark.sql.functions import col, split
try:
    book = spark.read.text("frankenstein.txt")
    book = book.printSchema() # Überschreiben der Variable book -> Select kann auf das Schema nicht ausgeführt werden!
    lines= book.select(spolit(book.value, " ").alias("lime")) # spolit = split
    words = lines.select(explode(col("line")).alias("word")) # Spalte "line" existiert nicht
except AnalysisException as err:
    print(err)
words.show()

Path does not exist: file:/home/jovyan/spark/frankenstein.txt
+--------------+
|          word|
+--------------+
|              |
|       Project|
|   Gutenberg's|
| Frankenstein,|
|            by|
|          Mary|
|Wollstonecraft|
|      (Godwin)|
|       Shelley|
|              |
|          This|
|         eBook|
|            is|
|           for|
|           the|
|           use|
|            of|
|        anyone|
|      anywhere|
|            at|
+--------------+
only showing top 20 rows

In [132]:
from pyspark.sql.functions import col, split
try:
    text = spark.read.text("../frankenstein.txt")
    book = text.printSchema() 
    lines= text.select(split(text.value, " ").alias("lime"))
    words = lines.select(explode(col("lime")).alias("word"))
except AnalysisException as err:
    print(err)
words.show()

root
 |-- value: string (nullable = true)

+--------------+
|          word|
+--------------+
|              |
|       Project|
|   Gutenberg's|
| Frankenstein,|
|            by|
|          Mary|
|Wollstonecraft|
|      (Godwin)|
|       Shelley|
|              |
|          This|
|         eBook|
|            is|
|           for|
|           the|
|           use|
|            of|
|        anyone|
|      anywhere|
|            at|
+--------------+
only showing top 20 rows